<div class="col-md-12">
<h2>{{title}} <small>Date de alta en nuestra webapp!!</small></h2>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Registro completado correctamente, <a [routerLink]="['/login']">identifícate aquí.</a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		Registro no completado :(
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-5">
		
		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
			<span *ngIf="!name.valid && name.touched" class="text-danger">
				El nombre es obligatorio
			</span>
		</p>

		<p>
			<label for="surname">Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required/>
			<span *ngIf="!surname.valid && surname.touched" class="text-danger">
				Los apellidos son obligatorios
			</span>
		</p>

		<p>
			<label for="email">Email</label>
			<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required/>
			<span *ngIf="!email.valid && email.touched" class="text-danger">
				El email es obligatorio
			</span>
		</p>

		<p>
			<label for="password">Password</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
			<span *ngIf="!password.valid && password.touched" class="text-danger">
				El password es obligatorio
			</span>
		</p>

		<input type="submit" value="Registrarme" class="btn btn-sm btn-success" />
	</form>
</div>
