<!-- Cabecera -->
<header id="header">
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="" class="navbar-brand">
        CONCESIONARIO
      </a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Crear coche</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink] = "['login']">Login</a>
        </li>
        <li>
          <a [routerLink] = "['register']">Registro</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Contenido -->
<router-outlet></router-outlet>