<!-- Cabecera -->
<header id="header">
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="" class="navbar-brand">
        CONCESIONARIO
      </a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink] = "['default']">Inicio</a>
        </li>
        <li *ngIf="identity">
          <a [routerLink] = "['crear-coche']">Crear coche</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink] = "['login']">Login</a>
        </li>
        <li>
          <a [routerLink] = "['register']">Registro</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li>
          <a href="#">{{identity.name + ' ' + identity.surname}}</a>
        </li>
        <li>
          <a [routerLink] = "['logout', 1]"><span class="glyphicon glyphicon-log-out"></span> SALIR</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Contenido -->
<router-outlet></router-outlet>